{% load static %}
<!DOCTYPE html>
<html lang="pt">
    <head>
        {% include 'components/_head.html' %}
        <title>Blog</title>
    </head>
    <body>
        {% include 'components/_nav.html' %}
        <h1>Eu sou o blog</h1>
    </body>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</html>