{% extends 'base.html' %}

{% block conteudo %}
    <h1 class="mt-3 mb-3">Cadastro</h1>
    <form method="POST" action="{% url 'register' %}">
        {% include 'components/_messages.html' %}
        {% csrf_token %}
          <div class="mt-2 form-group">
            <label for="exampleUsername">Nome</label>
            <input type="text" class="form-control" id="nome" value="{{ request.POST.nome }}" name="nome" placeholder="nome">
          </div>
          <div class="mt-2 form-group">
            <label for="exampleUsername">Sobrenome</label>
            <input type="text" class="form-control" id="sobrenome" value="{{ request.POST.sobrenome }}" name="sobrenome" placeholder="sobrenome">
          </div>
          <div class="mt-2 form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" value="{{ request.POST.email }}" aria-describedby="emailHelp" placeholder="example@email.com">
          </div>
          <div class="mt-2 form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="password">
          </div>
          <div class="mt-2 form-group">
              <label for="exampleInputPassword2">Repeat Password</label>
              <input type="password" class="form-control" id="exampleInputPassword2" name="repeatPassword" placeholder="repeat">
          </div>

          <button type="submit" class="mt-3 btn btn-primary">Submit</button>
      </form>
{% endblock %}