<head>
    {% include 'components/_head.html' %}
    <title>About</title>
</head>
{%block 'content'%}
    {% include 'components/_nav.html' %}
    <h1>Who am I?</h1>
    <p>bla blablabla blabla bla blabla bla bla blablabla bla blabla bla blablabla</p>
{%endblock%}