{% load static %}

<!DOCTYPE html>
<html lang="pt">

<head>
  <title>Agenda</title>
  {% include '_head.html' %}
</head>

<body>

  <!-- Navigation -->
  {% include '_nav.html' %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {% if 'accounts' not in request.path %}
          <br><br>
          <form method="get" action="{% url 'busca_contatos' %}">
            <div class="form-group row">
              <div class="col-12">
                <input class="form-control"
                      type="search" value="{{ request.GET.q }}"
                      id="search-input"
                      placeholder="Digite sua pesquisa"
                      name="q">

                {% include '_messages.html' %}
              </div>
            </div>
          </form>
        {% endif %}
        {% block conteudo %}
        {% endblock %}
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>